.example {
    color: rgb(240, 240, 240);
    text-align: center;
}

.h3::after{
    content:'';
    display: inline-block;
    width: 100%;
    display: inline-block;
    width: 100%;
}
.example-item {
    display: inline-block;
     width: 25%;
     height: 150px;

}    
.example-item_first {
    background-color: aquamarine;
    float: left;
    margin-inline-start: 05px;
}

.example-item_second {
    background-color: rgb(223, 255, 127);
}

.example-item_third {
    background-color: rgb(26, 117, 86);
    float: right;
    margin-right: 05px;
}

.last-line {
    display: inline-block;
    width: 100%;
}

h3 {
    text-align: center;
}

p {
    text-align: start;
}
